@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    gap:20px;
}


.products {
    width: 700px;
    min-height: 620px;
    border-radius: 20px;
    background-color: #FBF5F3;
    box-shadow: 2px 4px 12px #d3d3d3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.total_products{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    color: #172B3A;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.total{
    min-width: 450px;
    height: 200px;
    background-color:#FBF5F3 ;
    border-radius: 20px;
    box-shadow: 2px 4px 12px #d3d3d3;
    
    padding: 20px;
}
.total p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    color: #172B3A;
}
.empty{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    color: #172B3A;
}
.continue{
    justify-content: center;
    align-items: center;
    background-color: #03A0B5;
    border-color: #04adc4dc;
    stroke: #03A0B5;
    stroke-opacity: 70%;
    box-shadow: 2px 4px 6px 0px #0190A2;
    width: 200px;
    height: 40px;
    border-radius: 16px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 24px;
}