@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 320px;
    border-radius: 20px;
    background-color: #FBF5F3;
    box-shadow: 1px 2px 4px 6px #e6e6e6;
    overflow: hidden;
    margin: 10px;
}

.photo {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #D9D9D9;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 200;
    color: #172B3A;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
}
.name{
    height: 35px;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 14px;
    content-visibility:auto;
    margin-left: 10px;
    margin-right: 10px;
}
.price{
    font-family: 'Inter';
    font-weight: 200;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    align-items: center;
}
.see_button{
    display: flex;
    justify-content: center;
    background-color: #03A0B5;
    border-color: #04adc4dc;
    stroke: #03A0B5;
    stroke-opacity: 70%;
    box-shadow: 2px 4px 6px 0px #0190A2;
    width: 100px;
    height: 20px;
    border-radius: 16px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
}

.buy_button{
    display: flex;
    justify-content: center;
    background-color: #EAB948;
    border-color: #E7B236;
    stroke: #E7B236;
    stroke-opacity: 70%;
    box-shadow: 2px 4px 6px 0px #BF8500;
    width: 100px;
    height: 20px;
    border-radius: 16px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
}