@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (min-width: 750px) {
    .menu {
        display: none;
    }

    .links {
        display: flex;
    }
}

@media screen and (max-width: 750px) {
    .links {
        display: none;
    }
}


.header {
    display: flex;
    justify-content: center;
    overflow: visible;
    height: 80px;
    background-color: #03a0b5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

a:link {
    text-decoration: none;
}

.header h3 {
    display: flex;
    font-size: 38px;
    margin: 25px;
}

.header ul {
    margin: 36px;
    list-style: none;
    gap: 26px;
}

.header li {
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 18px;
    color: #172B3A;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.profile_items {
    position: absolute;
    display: none;
    background-color: #FBF5F3;
    color: #172B3A;
    overflow: visible;
    border-radius: 2px;
    border-color: #FAF2F0;
    box-shadow: 1px 1px 2px 1px #e6e6e6;
}

.profile_items p {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 14px;
    color: #172B3A;
    padding: 3px;
}

.profile_items p:hover {
    color: #2b5371;
}

.profile {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
    outline: #172B3A;
    overflow: visible;
}

.dropdown:hover .profile_items {
    display: block;
}


.header button {
    display: flex;
    flex-direction: row;
    margin: 5px;
    border-radius: 16px;
    border-color: #b78103;
    border-width: 2px;
    background: #EAB948;
    width: 100px;
    height: 40px;
    padding: 5px;
    justify-items: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 18px;
    color: #172B3A;
    gap: 20px;
}

.menu {
    width: 5;
    cursor: pointer;
}

.cart {
    position: relative;
}

.cart_icon_number {
    display: flex;
    flex-direction: row;
}

.cart_icon {
    width: 20px;
    height: 20px;
    outline: #172B3A;
    stroke: none;
}

.number {
    position: absolute;
    margin-right: 1px;
    margin-bottom: 1px;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 8px;
    font-family: 'inter';
    color: #FAF2F0;
    background-color: #172B3A;
    border-radius: 3px;
}

.open_menu {
    width: 100vmax;
    position: absolute;
    display: block;
    margin: 10px;
    background-color: #FBF5F3;
    overflow: visible;
    transition: all;
    margin: 10px;
    padding: 20px;
    padding-top: 110px;
}

.open_menu li {
    cursor: pointer;
    list-style: none;
}


.back_button {
    color: #172B3A;
    font-family: "Inter";
    font-weight: 200;
    font-size: 24px;

}